<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Master Suite">
    <test verbose="2" preserve-order="true" name="in.reqres.api">
        <classes>
            <class name="get.Get">
                <methods>
                    <include name="getAllUsers"/>
                    <include name="getSingleUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>